In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-price-prediction-challenge/sample_submission.csv
/kaggle/input/house-price-prediction-challenge/train.csv
/kaggle/input/house-price-prediction-challenge/test.csv

In [2]:
df = pd.read_csv('../input/house-price-prediction-challenge/train.csv')

In [3]:
df

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [5]:
df.drop(['POSTED_BY', 'BHK_OR_RK', 'ADDRESS'], axis=1, inplace = True)

In [6]:
df

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,0,0,2,1300.236407,1,1,12.969910,77.597960,55.0
1,0,0,2,1275.000000,1,1,12.274538,76.644605,51.0
2,0,0,2,933.159722,1,1,12.778033,77.632191,43.0
3,0,1,2,929.921143,1,1,28.642300,77.344500,62.5
4,1,0,2,999.009247,0,1,22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...
29446,0,0,3,2500.000000,1,1,27.140626,78.043277,45.0
29447,0,0,2,769.230769,1,1,39.945409,-86.150721,16.0
29448,0,0,2,1022.641509,1,1,26.928785,75.828002,27.1
29449,0,0,2,927.079009,1,1,12.900150,80.227910,67.0
29450,0,1,2,896.774194,1,1,26.832353,75.841749,27.8

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UNDER_CONSTRUCTION     29451 non-null  int64
 1   RERA                   29451 non-null  int64
 2   BHK_NO.                29451 non-null  int64
 3   SQUARE_FT              29451 non-null  float64
 4   READY_TO_MOVE          29451 non-null  int64
 5   RESALE                 29451 non-null  int64
 6   LONGITUDE              29451 non-null  float64
 7   LATITUDE               29451 non-null  float64
 8   TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5)
memory usage: 2.0 MB

In [8]:
df = df.astype(float)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UNDER_CONSTRUCTION     29451 non-null  float64
 1   RERA                   29451 non-null  float64
 2   BHK_NO.                29451 non-null  float64
 3   SQUARE_FT              29451 non-null  float64
 4   READY_TO_MOVE          29451 non-null  float64
 5   RESALE                 29451 non-null  float64
 6   LONGITUDE              29451 non-null  float64
 7   LATITUDE               29451 non-null  float64
 8   TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(9)
memory usage: 2.0 MB

In [10]:
y= df['TARGET(PRICE_IN_LACS)']
X= df.drop(['TARGET(PRICE_IN_LACS)'],1)
X.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE
0,0.0,0.0,2.0,1300.236407,1.0,1.0,12.969910,77.597960
1,0.0,0.0,2.0,1275.000000,1.0,1.0,12.274538,76.644605
2,0.0,0.0,2.0,933.159722,1.0,1.0,12.778033,77.632191
3,0.0,1.0,2.0,929.921143,1.0,1.0,28.642300,77.344500
4,1.0,0.0,2.0,999.009247,0.0,1.0,22.592200,88.484911

In [11]:
y

0        55.0
1        51.0
2        43.0
3        62.5
4        60.5
         ...
29446    45.0
29447    16.0
29448    27.1
29449    67.0
29450    27.8
Name: TARGET(PRICE_IN_LACS), Length: 29451, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1001)

In [14]:
from sklearn.linear_model import LinearRegression

model1 = LinearRegression().fit(X_train,y_train)

In [15]:
y_test_pred = model1.predict(X_test)

In [16]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [17]:
mean_absolute_error(y_test, y_test_pred)

145.56636746423175

In [18]:
from sklearn.linear_model import Lasso

model2 = Lasso().fit(X_train,y_train)

In [19]:
y_test_pred2 = model2.predict(X_test)

In [20]:
mean_absolute_error(y_test, y_test_pred2)

144.23790682865965

In [21]:
from sklearn.linear_model import Ridge

model3 = Ridge().fit(X_train,y_train)

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=9.39197e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

In [22]:
y_test_pred3 = model3.predict(X_test)

In [23]:
mean_absolute_error(y_test, y_test_pred3)

145.54915562987688

In [24]:
from sklearn.linear_model import ElasticNet

model4 = ElasticNet().fit(X_train,y_train)

In [25]:
y_test_pred4 = model4.predict(X_test)

In [26]:
mean_absolute_error(y_test, y_test_pred4)

131.44672114555698

In [27]:
from sklearn.ensemble import GradientBoostingRegressor
model5 = GradientBoostingRegressor().fit(X_train,y_train)

In [28]:
y_test_pred5 = model5.predict(X_test)

In [29]:
mean_absolute_error(y_test, y_test_pred5)

42.14948531076686